.contact-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 10px;
  }
  
  .contact-form label {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat';
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Montserrat';
  }
  
  .contact-form button {
    padding: 10px 20px;
    border: none;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #45a049;
  }
  